
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 95%;
  max-width: 1200px; /* Optional: limits how wide it gets on huge screens */
  margin: 1rem auto; /* This centers it horizontally */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  background-color: var(--color-secondary);
  border-radius: 5px;
  z-index: 1000;
  }
  
  .navbar-logo {
    font-size: var(--font-size-xl);
    font-family: var(--font-heading);
    color: var(--color-text-light);
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;

  }
  
  .navbar-links a {
    color: var(--color-text-light);
    font-family: var(--font-heading);
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;

  }
  .navbar-icons {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  .nav-icon {
    height: 5vh;
    padding: 8px;
    border-radius: 5px;
  }
  
  .nav-icon:hover{
    background-color: var(--color-primary);
  }

  .navbar-links a:hover {
    background-color: var(--color-primary);
    color: var(--color-mocha);
  }
  
  .hover-swap {
    transition: all 0.2s ease;
  }
  
  .hover-swap:hover {
    content: attr(data-hover); /* does nothing, but sets the stage */
  }